.test-util {
    &__link {
        width: 100%;
        height: 100%;
        line-height: 0;
        display: block;
    }

    &__img {
        fill: $blue;

        &:hover {
            fill: darken($blue, 5%);
        }
    }
}